@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('bg/fundo\ site\ deposito.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
 
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgb(57, 54, 54);
  border-radius: 15px ;
  padding: 30px 40px;
}

.wrapper h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background: rgb(57, 54, 54);
  color: 2px solid rgb(57, 54, 54);
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 29x solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .RecuperarSenha {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.RecuperarSenha label input {
  color: #fff;
  accent-color: #fff;
  margin-right: 3px;
}

.RecuperarSenha a {
  color: #fff;
  text-decoration: none;
}

.RecuperarSenha a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0 , 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.wrapper .Criarconta {
  color: #fff;
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.Criarconta p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.Criarconta p a:hover{
  text-decoration: underline;
}